* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #969689;
}

/*Estilos-generales*/
body {
  background-color: #0c1015;
}

/*Estilos-header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161b22;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
header #btn-menu {
  display: none;
}
header .logo-movile {
  display: none;
}
header .titulo-movile {
  display: none;
}
header label {
  display: none;
}
header label:hover {
  cursor: pointer;
}
header .nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}
header .nav .nav-item .nav-link {
  border: none;
  padding: 5px 20px;
  color: #969689;
  font-size: 15px;
}
header .nav .nav-item .nav-link:hover {
  background-color: #969689;
  color: rgb(75, 75, 75);
}
header .nav .dropdown {
  padding-left: 25px;
}
header .nav .dropdown .dropdown-menu {
  background-color: #161b22;
}
header .nav .dropdown .dropdown-menu .dropdown-item {
  color: #969689;
}
header .nav .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #969689;
  color: rgb(75, 75, 75);
}
header .ancla-logo-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  text-decoration: none;
}
header .ancla-logo-titulo .logo {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  filter: drop-shadow(-4px -5px 8px #000000);
}
header .ancla-logo-titulo .titulo {
  font-size: 35px;
  margin-top: 10px;
  color: #969689;
  filter: drop-shadow(-4px -5px 8px #000000);
}

/*Estilos-MainIndex*/
.main-inicio .section-inicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 100px;
  background-color: #161b22;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: relative;
}
.main-inicio .section-inicio .carousel {
  width: 400px;
  justify-self: center;
  align-self: center;
  border: 1px solid #31384A;
  border-radius: 6px;
  overflow: hidden;
}
.main-inicio .section-inicio .div-text {
  padding: 10px;
}
.main-inicio .section-Blog-inicio {
  margin: 100px;
  background-color: #161b22;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.main-inicio .section-Blog-inicio h2 {
  background-color: transparent;
  padding: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.main-inicio .section-Blog-inicio .div-text {
  padding: 40px;
  display: flex;
  gap: 20px;
  position: relative;
}
.main-inicio .section-Blog-inicio .div-text p {
  padding: 10px;
}
.main-inicio .section-Blog-inicio .div-text video {
  width: 1500px;
  height: 100%;
  justify-self: center;
  align-self: center;
  border: 1px solid #31384A;
  border-radius: 6px;
  overflow: hidden;
}
.main-inicio .section-recursos-inicio {
  background-color: #161b22;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 100%;
  margin: 100px;
}
.main-inicio .section-recursos-inicio h2 {
  background-color: transparent;
  padding: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.main-inicio .section-recursos-inicio .section-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 40px;
}
.main-inicio .section-recursos-inicio .section-cards .card-recursos {
  background-color: #969689;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  border-radius: 10px;
  width: 300px;
  height: 100px;
}
.main-inicio .section-recursos-inicio .section-cards .card-recursos:hover {
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  transform: translate(-3%);
}
.main-inicio .section-recursos-inicio .section-cards .card-recursos a {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  text-decoration: none;
}
.main-inicio .section-recursos-inicio .section-cards .card-recursos a img {
  height: 70px;
  margin: 10px;
}
.main-inicio .section-recursos-inicio .section-cards .card-recursos a p {
  position: relative;
  top: 10px;
  font-size: 30px;
  color: #161b22;
}

/*Estilos-MainBlog*/
.main-blog {
  padding: 2rem 0;
}
.main-blog .titulos-blog {
  background-color: #161b22;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 2rem;
  padding: 10px;
  display: inline-block;
}
.main-blog .section-sitios {
  border-left: 3px solid #969689;
  padding-left: 10px;
  margin-left: 2rem;
}
.main-blog .section-sitios .blog-intro {
  font-size: 20px;
  margin: 1rem;
}
.main-blog .section-sitios .article-sitios {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  margin: 1rem;
}
.main-blog .section-sitios .article-sitios .card {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  background-color: #161b22;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
}
.main-blog .section-sitios .article-sitios .card:hover {
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  transform: translate(-3%);
}
.main-blog .section-sitios .article-sitios .card img {
  width: 100%;
  height: 210px;
}
.main-blog .section-sitios .article-sitios .card .ancla-movile {
  display: none;
}
.main-blog .section-sitios .article-sitios .card a {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  padding: 4px;
  color: rgb(129, 126, 126);
}
.main-blog .titulos-blog {
  background-color: #161b22;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  display: inline-block;
}
.main-blog .section-libros {
  border-left: 3px solid #969689;
  padding-left: 10px;
  margin-left: 2rem;
}
.main-blog .section-libros .blog-intro {
  font-size: 20px;
  margin: 1rem;
}
.main-blog .section-libros .article-libros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.main-blog .section-libros .article-libros .card-libros {
  position: relative;
  width: 260px;
  margin: 20px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.main-blog .section-libros .article-libros .card-libros:hover {
  transform: scale(1.05);
}
.main-blog .section-libros .article-libros .card-libros a img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}
.main-blog .section-libros .article-libros .card-libros .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
}
.main-blog .section-libros .article-libros .card-libros .overlay p {
  margin: 0;
  color: #969689;
}
.main-blog .section-libros .article-libros .card-libros .overlay:hover {
  opacity: 1;
}
.main-blog .section-libros .article-libros .card-libros .buy-link {
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #161b22;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.3s;
}
.main-blog .section-libros .article-libros .card-libros .buy-link:hover {
  background-color: #161b22;
  opacity: 0.2;
}

/*Estilos-MainRecursos*/
.main-recursos {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-areas: "section-1 section-2";
}
.main-recursos .section-1 {
  margin: 20px;
}
.main-recursos .section-1 .section-intro h2 {
  background-color: #161b22;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
.main-recursos .section-1 .section-intro .parrafo-intro {
  font-size: 20px;
}
.main-recursos .section-1 .section-intro img {
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.main-recursos .section-1 .articulo-1 h3 {
  margin: 20px 0px 0px 10px;
  background-color: #161b22;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
.main-recursos .section-1 .articulo-1 p {
  margin: 10px;
  font-size: 20px;
}
.main-recursos .section-1 .articulo-2 h3 {
  margin: 20px 0px 20px 10px;
  background-color: #161b22;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
.main-recursos .section-1 .articulo-2 img {
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.main-recursos .section-1 .articulo-2 ul li {
  padding: 10px;
}
.main-recursos .section-1 .articulo-3 h3 {
  margin: 20px 0px 20px 10px;
  background-color: #161b22;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
.main-recursos .section-1 .articulo-3 p {
  margin: 10px;
  font-size: 20px;
}
.main-recursos .section-1 .articulo-3 ul li {
  padding: 10px;
}
.main-recursos .section-1 .articulo-4 h3 {
  margin: 20px 0px 20px 10px;
  background-color: #161b22;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
.main-recursos .section-1 .articulo-4 img {
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.main-recursos .section-1 .articulo-4 p {
  margin: 10px;
  font-size: 20px;
}
.main-recursos .section-2 {
  margin: 90px 10px;
}
.main-recursos .section-2 .indice-tematico {
  position: sticky;
  top: 20px;
  background-color: #969689;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  border-radius: 10px;
  padding: 10px;
}
.main-recursos .section-2 .indice-tematico h4 {
  padding: 10px;
  color: #161b22;
  text-decoration: underline;
}
.main-recursos .section-2 .indice-tematico ol li {
  padding: 10px;
  color: #161b22;
}
.main-recursos .section-2 .indice-tematico ol li a {
  color: #161b22;
}
.main-recursos .section-2 .sobre-el-autor {
  position: sticky;
  top: 300px;
  bottom: 20px;
  background-color: #969689;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px;
  text-align: center;
}
.main-recursos .section-2 .sobre-el-autor h4 {
  color: #161b22;
}
.main-recursos .section-2 .sobre-el-autor p {
  color: #161b22;
}

/*Estilos-Main-Contacto*/
.main-contacto {
  margin: 50px;
}
.main-contacto form {
  width: 450px;
  margin: auto;
  background: none;
  border: solid 1px beige;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  border: solid 0.1px;
}
.main-contacto form h2 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
.main-contacto form .input-form {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: solid 0.1px;
  background-color: #242323;
}
.main-contacto form textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
.main-contacto form .boton {
  border: solid 1px;
  background-color: #242323;
  padding: 20px;
}

/*Estilos-Footer*/
footer {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161b22;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
}
footer a {
  text-decoration: none;
  color: #969689;
}

/*Estilos-Movile*/
@media screen and (max-width: 767px) {
  /*estilos-movile-header*/
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  header .logo-movile {
    display: block;
    width: 3.5rem;
    filter: drop-shadow(-4px -5px 8px #000000);
  }
  header a {
    text-decoration: none;
  }
  header a .titulo-movile {
    display: block;
    filter: drop-shadow(-4px -5px 8px #000000);
    color: #969689;
  }
  header #btn-menu:checked ~ .nav {
    visibility: visible;
  }
  header label {
    display: block;
    position: relative;
  }
  header label img {
    width: 3.5rem;
    filter: drop-shadow(-4px -5px 8px #000000);
  }
  header .nav {
    position: absolute;
    top: 96px;
    right: 1px;
    width: 100vw;
    background-color: #161b22;
    opacity: 0.9;
    visibility: hidden;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    border: none;
  }
  header .nav .dropdown {
    border: none;
  }
  header .ancla-logo-titulo {
    display: none;
  }
  /*main inicio*/
  .main-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-inicio .section-inicio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: 700px;
    padding: 15px;
    position: relative;
  }
  .main-inicio .section-inicio .carousel {
    width: 100%;
    order: 1;
    border: none;
  }
  .main-inicio .section-inicio .carousel-control-prev {
    z-index: 0;
  }
  .main-inicio .section-inicio .carousel-control-next {
    z-index: 0;
  }
  .main-inicio .section-inicio .div-text h2 {
    text-align: center;
  }
  .main-inicio .section-inicio .div-text .parrafo-inicio {
    font-size: 15px;
    color: #969689;
    margin: 90px 0px;
  }
  .main-inicio .section-Blog-inicio {
    width: 300px;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin: 100px;
  }
  .main-inicio .section-Blog-inicio .titulo-blog-inicio h2 {
    text-align: center;
  }
  .main-inicio .section-Blog-inicio .div-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    position: relative;
  }
  .main-inicio .section-Blog-inicio .div-text p {
    font-size: 15px;
  }
  .main-inicio .section-Blog-inicio .div-text video {
    width: 100%;
  }
  .main-inicio .section-recursos-inicio {
    width: 300px;
  }
  .main-inicio .section-recursos-inicio h2 {
    text-align: center;
  }
  /* main blog */
  .main-blog {
    display: flex;
    flex-direction: column;
  }
  .main-blog .titulos-blog h2 {
    text-align: center;
  }
  .main-blog .section-sitios .article-sitios {
    display: flex;
    flex-direction: column;
  }
  .main-blog .section-sitios .article-sitios .card {
    height: 6rem;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  .main-blog .section-sitios .article-sitios .card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  .main-blog .section-sitios .article-sitios .card .ancla-movile {
    display: block;
  }
  .main-blog .section-sitios .article-sitios .card .ancla-movile .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
  }
  .main-blog .section-sitios .article-sitios .card .ancla-movile .overlay p {
    font-size: 0.9rem;
    margin: 0;
    color: #969689;
  }
  .main-blog .section-sitios .article-sitios .card .ancla-movile .overlay:hover {
    opacity: 1;
  }
  /*main contacto*/
  .main-contacto form {
    width: auto;
  }
  footer {
    text-align: center;
  }
  /*main recursos*/
  .main-recursos {
    margin: 20px;
  }
  .main-recursos .section-2 {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*main-inicio-tablet*/
  .main-inicio .section-inicio {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .main-inicio .section-Blog-inicio .titulo-blog-inicio {
    text-align: center;
  }
  .main-inicio .section-Blog-inicio .div-text {
    display: flex;
    flex-direction: column;
  }
  .main-inicio .section-Blog-inicio .div-text video {
    width: 100%;
  }
  .main-inicio .section-recursos-inicio h2 {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */